$NAME: "plugin_one__Intro";

.#{$NAME} {
  .text {
    line-height: 1.6em;
  }

  .skills-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .skills-table th,
  .skills-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }

  .skills-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
  }

  .skills-table {
    background-color: #f9f9f9;
  }

  .spin:hover {
    animation: spin 1s ease-in-out;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .zoom-hover:hover {
    animation: zoomAnimation 0.6s ease forwards; /* Zoom and return animation */
  }

  @keyframes zoomAnimation {
    0% {
      transform: scale(1); /* Start at normal size */
    }
    50% {
      transform: scale(1.02); /* Zoom in to 120% */
    }
    100% {
      transform: scale(1); /* Return to normal size */
    }
  }
}
