$NAME: "plugin_one__Intro";

.#{$NAME} {
  img {
    width: 100%;
    height: auto;
  }

  .welcome-text {
    font-size: 3em;
  }
  .name-title {
    font-size: 5em;
  }

  .spin:hover {
    animation: spin 1s ease-in-out;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Tablet view */
  @media (max-width: 999px) {
    img {
      width: 500px;
    }
    .welcome-text {
      font-size: 2em;
    }
    .name-title {
      font-size: 3em;
    }
  }

  /* Mobile view */
  @media (max-width: 480px) {
    img {
      width: 300px;
    }
    .welcome-text {
      font-size: 2em;
    }
    .name-title {
      font-size: 3em;
    }
  }
}
